body{
  width: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  display: block;
  background-color: rgb(255,253,255);
  color:#296cd6;
  font-family: 'Dosis', sans-serif;
}

caption{
  font-style: italic;
}

.caption{
  font-style: italic;
  font-size: 14px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 24px;
}

.centre{
  text-align: center;
  justify-content: center;
}

.photo{
  justify-content: center;
  height: 500px;
}
.head{
  padding: 1.5rem 0;
  position: relative;
  z-index: 1000;
  width: 94%;
  margin: 0 auto;
  font-size: 60px;
  text-align: left;
  border-bottom: solid;
  border-width: 100%;
}

.underscore{
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.pagetop{
  padding: 1.5rem 0;
  font-size: 22px;
  text-align: center;
}

.block{
  width: 20%;
  padding: 1.5rem 0;

}

li{
  list-style-type: none;
  padding: 5px 0;
  margin: 0;
  text-align: left;
  font-size: 22px;
}

p{

}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 0px;
  overflow: hidden;
  background-color: inherit;
}

li {
  float: left;
}

li a {
  display: block;
  color: inherit;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  color: #194385;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  text-decoration: underline;
  text-decoration-color: rgb(33, 86, 171, 0.8);
}

footer{
  margin-top: 50px;
  background-color:#296cd6;
  color: white;
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  position:static;
}

.content {
  width: 50%;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding-top: 20px;
}

.details {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-row-gap: 20px;
  justify-content: center;
  text-align: center;
  width: auto;
  text-align: left;
  padding: 50px;
}

.item1{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-right:20px;
  height: auto;
  width: auto;
  margin: auto;
  padding-top: 20px;
}

.item2{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 20px;
  height: auto;
  width: 50%;
  margin: auto;
  padding-top: 20px;
}
